body{
	background: black;
}
.main{
	width: auto;
	min-height: 1500px;
	background: #5ae6df;
	display: grid;
}
.row1{
	position: relative;
	width: 100%;
	height: 220px;
	border: 5px solid black;
}
.row1col1{
	margin-top: 50px;
	font-size: 30px;
	width: 85%;
	float: left;
	margin-bottom: 10px;
}          
.row1col2{
	margin-top: 50px;
	width: 15%;
	float: right;
	margin-bottom: 10px;
}
.row2{
	position: absolute;
	width: 100%;
	height: 50px;
	font-size: 50px;
	border: 5px solid black;
}